
/* form */
h2 {
    font-size: 2.5em;
    padding: 33px 0;
    text-align: center;
    background-color: aliceblue;
 }
 
 form {
     display: block;
     margin: 5% auto;
     border-radius: 10px;
     width: 40%;
     height: 50%;
     background-color: rgb(247, 196, 243);
     border: 3px solid rgb(87, 9, 127);
 }
 
 label {
     display: block;
     text-align: left;
     float: left;
     clear: left;
     margin: 5px;
     width: 200px;
  }
 
  input, select, textarea {
     display: block;
     float: left;
     margin: 5px 0px;
     width: 200px;
  }
 
  textarea {
     height: 100px;
  }
 
  input[type='submit'] {
     background-color: rgb(71, 150, 223);
     color: rgb(255, 255, 255);
     border-radius: 20px;
     float: none;
     display: inline;
     margin-left: 200px;
     font-size: 1.1em;
     height: 30px;
     width: 150px;
  }
 
 
  /* Validate */
 input#nameBox:focus,
 input#phoneBox:focus,
 input#mailBox:focus{
     background-color: rgb(245, 245, 220);
 }
 
 input#namebox:focus:valid,
 input#contactno:focus:valid,
 input#email:focus:valid{
     background:rgb(220,255,220) url(cbg_okay.png) right/contain no-repeat;
 }
 
 input#namebox:focus:invalid,
 input#contactno:focus:invalid,
 input#email:focus:invalid{
     background:rgb(255,230,230) url(cbg_warning.png) right/contain no-repeat;
 }


 /* @media only screen and (max-width: 1200px) {

    .slide-image {
        height: 500px;
        width: 98%;
    }
}

@media only screen and (max-width: 800px) {

    .slide-image {
        height: 450px;
        width: 98%;
    }
}

@media only screen and (max-width: 650px) {

    .slide-image {
        height: 400px;
        width: 98%;
    }
}

@media only screen and (max-width: 600px) {

    .slide-image {
        height: 350px;
        width: 98%;
    }
}

@media only screen and (max-width: 550px) {

    .slide-image {
        height: 300px;
        width: 98%;
    }

    .slide-text h2 {
        font-size: 19px;
    }
}

@media only screen and (max-width: 450px) {

    .slide-image {
        height: 250px;
        width: 98%;
    }

    .slide-text h2 {
        text-align: center;
        font-size: 18px;
    }
} */

@media only screen and (max-width: 400px) {

    h2 {
        font-size: 1.2em;
        padding: 10px 0;
     }

     form {
        margin: 10% auto;
        width: 80%;
    }

    label, input, select, textarea {
        margin-left: 20px;
     }

    input[type='submit'] {
        margin-top: 8%;
        margin-left: 20px;
        font-size: 0.9em;
     }
 }