html {
    scroll-behavior: smooth;
}

.slide-show {
    position: relative;
    width: 100%;
    text-align: center;
} 

.slide-image {
    width: 1160px;
    height: 550px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color:#e8d3b9;
    margin: 0;
}

.slide-text h2 {
    font-size: 22px;
    word-spacing: -7px;
    font-family: FontAwesome1;
}

.slide-text p {
    font-size: 15px;
    font-size: 15px;
    font-weight: 800;
}

@media only screen and (max-width: 1200px) {

    .slide-image {
        height: 500px;
        width: 98%;
    }
}

@media only screen and (max-width: 800px) {

    .slide-image {
        height: 450px;
        width: 98%;
    }
}

@media only screen and (max-width: 650px) {

    .slide-image {
        height: 400px;
        width: 98%;
    }
}

@media only screen and (max-width: 600px) {

    .slide-image {
        height: 350px;
        width: 98%;
    }
}

@media only screen and (max-width: 550px) {

    .slide-image {
        height: 300px;
        width: 98%;
    }

    .slide-text h2 {
        font-size: 19px;
    }
}

@media only screen and (max-width: 450px) {

    .slide-image {
        height: 250px;
        width: 98%;
    }

    .slide-text h2 {
        text-align: center;
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {

    .slide-image {
        height: 200px;
        width: 98%;
    }

    .slide-text h2 {
        text-align: center;
        font-size: 17px;
    }
}

.slide {
    display: none;
    padding: 10px;
    background-color: #ddd;
    text-align: center;
    animation: fade 3s;
}

@keyframes fade {
    from {opacity: 0.5} 
    to {opacity: 1}
  }

.slide-show .slide-text {
    width: 100%;
    display: block;
    text-align: center;
}

.dots {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #d4d4d4;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #adadad;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
    background-color: #717171;
}

.content-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 100px;
}

.content-title {
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-family: FontAwesome2;
}

.content {
    padding: 20px;
}

.content-description h1 {
    font-size: 14px;
}

.content-image img{
    width: 300px;
    height: 170px;
}

.content-wrapper-2 {
    text-align: center;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #c4d4d0;
    margin: 8%;
    border-radius: 15px;
}

.store-image {
    float: left;
}

.store-text {
    width: 55%;
    padding-left: 2%;
    padding-top: 40px;
}

@media only screen and (max-width: 968px) {
    .store-text {
        width: 90%;
    }
}

.store-text h2 {
    font-family: FontAwesome2;
}

.store-text p {
    text-align: justify;
    font-weight: 550;
    padding-bottom: 6px;
}

.store-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color:#e8d3b9;
}

.store-text-link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color:#6b9488;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.store-text-link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.store-text-link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}
  
.store-text-link:hover span {
    padding-right: 20px;
}
  
.store-text-link:hover span:after {
    opacity: 1;
    right: 0;
}

.video  {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.video video {
    width: 50%;
    border: 2px solid #e8d3b9;
    border-radius: 20px;
}

.video-text {
    width: 30%;
}

.video-text h3 {
    font-size: 1.8em;
    font-family: FontAwesome2;
}

.video-text p {
    font-size: 1.1em;
    line-height: 1.2em;
}

.content-wrapper-3 h2 {
    margin-top: 1.5em;
    text-align: center;
    font-family: FontAwesome2;
    font-size: 2em;
}

.store-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4em;
}

.store-column {
    width: 28%;
    height: 20%;
    padding: 1.5em;
}

.store-column a {
    text-decoration: none;
    color: black;
}

.shop {
    background-color: #f4f4f0;
    border: 2px solid black;
    border-radius: 23px;
}

.shop:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shop img {
    width: 100%;
    border-radius: 20px;
}

.shop h3, .shop p {
    text-align: left;
    padding: 1.3em;
}


