
/*Form*/
form{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 70px;
    max-width: fit-content;
    min-width: fit-content;
    margin: auto;
} 


legend{
    display: border;
    border:3px solid rgb(9, 176, 87);
    background-color: rgb(92, 231, 157);
    color: rgb(0, 0, 0);
    border-radius: 10px;
 }

 fieldset#form{
    background-color: rgba(60, 225, 85, 0.596);
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px; 
    margin-top: 10px; 
    border: 5px solid rgb(53, 114, 81);
    border-radius: 20px;
}

div#label{
    margin: 5px;
    width:100%;
}
input{
    margin-right: 10px;
    width: fit-content;
}

label {
    display: inline-block;
    width: 150px;
   
}

input[type='submit'] {
    background-color: rgb(95, 223, 176);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    float: none;
    display: inline;
    margin-left: 100px;
    font-size: 1.1em;
    height: 30px;
    width: 150px;
}

input[name='cancel'] {
    background-color: rgb(95, 223, 176);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    float: none;
    display: inline;
    margin-left: 50px;
    font-size: 1.1em;
    height: 30px;
    width: 150px;
 }

 /*Validate*/
input#nameBox:focus,
input#phoneBox:focus,
input#mailBox:focus{
    background-color: rgb(245, 245, 220);
}

input#namebox:focus:valid,
input#contactno:focus:valid,
input#email:focus:valid{
    background:rgb(220,255,220) url(cbg_okay.png) right/contain no-repeat;
}

input#namebox:focus:invalid,
input#contactno:focus:invalid,
input#email:focus:invalid{
    background:rgb(255,230,230) url(cbg_warning.png) right/contain no-repeat;
}

